.App {
    font-family: sans-serif;
    text-align: center;
    background-color: black;
  }



.App-main{
  background-color: rgb(50, 4, 83);
  background-clip: content-box; 
  max-height: 190vh;
  max-width: 190vw;

}

.App-canvas{
  background-color: cornsilk;
  border: 10px;
  border-style: solid;
  border-color: cornsilk ;

}

button {
  background-color: rgb(34, 20, 95);
  border: 1px solid rgb(124, 110, 185);
  color: white;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover{
  background-color: rgb(104, 80, 212);
}
  